/* Home Container - Scoped Styles */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Intro Section */
.home-container .intro-section {
  width: 100%;
  background-color: #63bb9d;
  padding: 100px 0;
}

.home-container .intro-section__title {
  text-align: center;
  font-size: 91px;
  line-height: 120px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0;
}

/* Explanation Section */
.home-container .explanation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
  background-color: #ffffff;
  min-height: 610px;
}

.home-container .box-container {
  display: flex;
  gap: 50px;
}

.home-container .box {
  width: 252px;
  height: 252px;
  background-color: #b8e0d8;
}

/* Upload Section */
.home-container .upload-section {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  text-align: center;
  background-color: #dcefee;
}

.home-container .upload-section__text {
  font-size: 57px;
  font-weight: bold;
  color: #63bb9d;
  text-align: left;
}
