/* src/components/Upload/upload.css */

.upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  display: flex;
  padding: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #dcefee;
  width: 100%;
}

.image-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-symbol {
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.upload-label p {
  font-size: 50px;
  font-weight: bold;
  color: #b8e0d8;
}

.upload-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 32px;
  font-weight: bold;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-btn:hover {
  background-color: #555;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}